$primary_font_family: Courier New, Courier, monospace
$input_border_color: #999

html, body
  padding: 0
  margin: 0

body
  background: #222
  color: black
  text-shadow: 0 0 1px black
  font-family: $primary_font_family

.app_title
  text-align: center
  margin: 0
  padding: 0
  font-size: 5em
  color: white

.title
  text-align: center
  color: white

.header
  display: flex
  justify-content: center
  flex-flow: row wrap
  align-items: center
  color: white

  .nav_button
    margin: 4pt

    a
      border-radius: 1pt
      background: #333
      padding: 10pt
      color: white
      text-decoration: none
      &:hover
        background: lighten(#333, 3%)
        color: tomato
      &:active
        background: darken(#333, 5%)
        color: orange

  .selected
    background: #555

  .admin
    a
      background: darkred
      &:hover
        background: lighten(darkred, 3%)
        color: black
      &:active
        background: darken(darkred, 5%)
        color: grey
.admin
  a
    color: darkred
    &:hover
      color: black
    &:active
      color: grey

.container
  margin: 10pt
  padding: 10pt
  background: lighten(black, 25%)//tomato
  border-radius: 1pt

  .monitors
    display: flex
    justify-content: center
    flex-flow: row wrap
  .monitor
    word-wrap: break-word
    margin: 4pt
    padding: 4pt 4pt 0 4pt
    width: 20%
    min-width: 250pt
    color: black
    border: solid black 1pt
    border-radius: 1pt
    background: white
  .monitor_label
    text-align: center
  .monitor_content
    text-align: center

  pre
    font-size: 1em
    font-family: $primary_font_family
    word-wrap: break-word

  .overview
    background: #fef
    padding: 4pt
    margin: 4pt
    h2
      text-align: center
      color: black

a
  color: blue
  text-decoration: none
  &:hover
    color: purple
  &:active
    color: red

.up
  padding: 4pt
  margin: 2pt
  background: #080
  color: white
.down
  padding: 4pt
  margin: 2pt
  background: darkred
  color: white

.error
  border-radius: 1pt
  padding: 10pt
  margin: 10pt
  background: darkred
  color: white
.alert
  border-radius: 1pt
  padding: 10pt
  margin: 10pt
  background: darkorange
  color: white
.notice
  border-radius: 1pt
  padding: 10pt
  margin: 10pt
  background: seagreen
  color: white

.flash
  text-align: center
  font-family: monospace
  font-size: 15pt

.button
  margin: 4pt

  a
    border-radius: 1pt
    background: seagreen
    padding: 10pt
    color: white
    text-decoration: none
    &:hover
      background: lighten(seagreen, 3%)
      color: tomato
    &:active
      background: darken(seagreen, 5%)
      color: orange

input[type=text], input[type=password], input[type=email], input[type=number], select
  width: 100%
  padding: 12pt 20pt
  margin: 8pt 0
  display: inline-block
  border: 1pt solid $input_border_color
  border-radius: 4pt
  box-sizing: border-box
  font-family: $primary_font_family
  font-size: 1em

input[type=button], input[type=submit], input[type=reset]
  width: 100%
  padding: 12pt 20pt
  margin: 8pt 0
  display: inline-block
  border: 1pt solid $input_border_color
  border-radius: 4pt
  box-sizing: border-box
  background: seagreen
  color: white
  font-size: 1em
  font-family: $primary_font_family
  font-weight: bold
  text-shadow: 0 0 1pt #111

  &:hover
    color: white
    background: darken(seagreen, 5%)
    box-shadow: inset 0 0 3pt darken(seagreen, 7%)
  &:active
    color: #bfbfbf
    box-shadow: inset 0 0 3pt darken(seagreen, 3%)
    background: darken(seagreen, 10%)

textarea
  width: 100%
  height: 250pt
  padding: 12pt 20pt
  box-sizing: border-box
  border: 1pt solid $input_border_color
  border-radius: 4pt
  background-color: #f8f8f8
  resize: none
  font-family: $primary_font_family
  font-size: 1em